body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #111;
    color: #0f0;
    text-align: center;
    padding-top: 50px;
}
input, button {
    font-size: 18px;
    padding: 10px;
    margin: 10px;
}
button {
    background-color: #0f0;
    color: black;
    border: none;
    cursor: pointer;
}
